Package: {{ node_deb_package_name }}
Version: {{ node_deb_package_version }}
Section: base
Priority: optional
Architecture: all
Depends: coreutils, bash, dpkg, fakeroot, jq
Maintainer: {{ node_deb_package_maintainer }}
Description: {{ node_deb_package_description }}
